.results {
   padding: 200px 0;

   @media (max-width: $max-width-laptop) {
      padding: 150px 0;
   }
   @media (max-width: $max-width-tablet) {
      padding: 120px 0;
   }

   &__text-content {
      position: relative;

      padding: 88px 50% 90px 0;
      min-height: 688px;

      & > *:last-child {
         margin-bottom: 0;
      }

      &::before {
         content: '';
         position: absolute;
         top: 0;
         right: 0;

         width: calc(50% - 26px);
         height: 688px;

         background:url(/img/results/child.jpg) center/cover no-repeat;
         border-radius: 10px;
      }

      @media (max-width: $max-width-laptop) {
         padding: 66px 50% 68px 0;
      }
      @media (max-width: $max-width-tablet) {
         padding: 0;
         min-height: 0;

         &::before {
            display: none;
         }
      }
   }
   &__subtitle {
      margin-bottom: 20px;
   }
   &__title {
      margin-bottom: 28px;
      max-width: 73%;

      @media (max-width: $max-width-tablet) {
         margin-bottom: 50px;
      }
      @media (max-width: $max-width-mobile) {
         max-width: 100%;
      }
   }
   &__items {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      margin-bottom: 12px + 32px;

      @media (max-width: $max-width-mobile) {
         margin-bottom: 35px;
      }
   }
   &__item {
      position: relative;
      flex:  0 0 48%;

      padding: 0 25px 0 76px+16;
      margin-bottom: 32px;
      min-height: 76px;

      &::before {
         content: '';
         position: absolute;
         top: 0;
         left: 0;

         width: 76px;
         height: 76px;
      }
      &:nth-child(1)::before {
         background:url(/img/results/icon-item-1.svg) center/cover no-repeat;
      }
      &:nth-child(2)::before {
         background:url(/img/results/icon-item-2.svg) center/cover no-repeat;
      }
      &:nth-child(3)::before {
         background:url(/img/results/icon-item-3.svg) center/cover no-repeat;
      }
      &:nth-child(4)::before {
         background:url(/img/results/icon-item-4.svg) center/cover no-repeat;
      }

      @media (max-width: $max-width-laptop) {
         padding-left: 57px+16px;
         &::before {
            width: 57px;
            height: 57px;
         }
      }
      @media (max-width: $max-width-mobile) {
         flex: 0 0 100%;
      }
   }
   &__item-number {
      margin-bottom: 9px;

      font-family: 'Roboto';
      font-weight: 700;
      font-size: 38px;
      line-height: 116%;

      @media (max-width: 1050px) {
         font-size: 34px;
      }
      @media (max-width: $max-width-laptop) {
         font-size: 25px;
      }
   }
   &__item-sign {
      color: #6E6E6E;
   }
}