.btn {
   display: inline-flex;
   align-items: center;
   justify-content: center;

   font-weight: 700;
   overflow: hidden;

   border-radius: 10px;

   &--color {
      height: 71px;
      padding: 0 38px;

      background-color: $yellow;
   }
   &--dark {
      height: 71px;
      padding: 0 38px;

      color:#ffffff;

      background-color: #090909;
   }
   &--not-color {
      height: 73px;
      padding: 0 28px;

      background-color: #ffffff;
      border: 1px solid #F0ECE8;
      box-shadow: 0px 4px 10px rgba(43, 43, 43, 0.04);
   }
}
.title {
   font-family:'Roboto';
   font-weight: 700;
   font-size: 42px;
   line-height: 138%;
}
.add-title {
   font-family: 'Roboto';
   font-weight: 700;
   font-size: 24px;
   line-height: 142%;
}
.subtitle {
   font-size: 20px;
   letter-spacing: 1.2px;
   text-transform: uppercase;
   color: $yellow;
}
.point {
   position: relative;

   padding-left: 42px;

   &:before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;

      width: 26px;
      height: 26px;

      background:url(../img/check.svg) center/cover no-repeat;
   }
}